.e-profile {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin: 20px 0;
}

.ep-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 5px 30px rgba(252, 175, 175, 0.208);
  padding: 40px;
  border-radius: 20px;
  border-top-right-radius: 40%;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.ep-head img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 5px 20px rgba(255, 102, 102, 0.208);
  background: linear-gradient(120deg, red, rgb(255, 112, 50));
  border: 5px solid rgb(255, 246, 246);
  margin: 10px;
}

.ep-head h2 {
  background: linear-gradient(120deg, red, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ep-head span {
  font-size: small;
  color: rgb(255, 199, 199);
  margin-bottom: 30px;
}

.ep-head h6 {
  color: rgb(134, 134, 134);
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  color: white;
  background-color: rgb(255, 55, 0);
  border-bottom-left-radius: 20px;
  font-weight: bold;
}

.ep-skills {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.es-card {
  display: flex;
  align-items: center;
}

.pw-reset {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  z-index: 20;
}
.pw-reset .login > div {
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(255, 244, 244);
  box-shadow: 0 5px 20px rgba(255, 102, 102, 0.208);
  position: relative;
}
.pw-reset .login > div > img {
  width: 20px;
  padding: 7px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fee8e8;
  box-shadow: 0 2px 20px rgba(250, 172, 172, 0.212);
  border-radius: 50%;
  cursor: pointer;
}
.p-pw-reset {
  position: fixed;
  width: 90vw;
  bottom: 15px;
  left: 0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  cursor: pointer;
  z-index: 10;
}

.p-pw-reset img {
  width: 25px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(255, 102, 102, 0.208);
  background: linear-gradient(120deg, rgb(255, 242, 242), rgb(255, 231, 221));
}

.p-pw-reset img:first-of-type {
  margin-left: 5vw;
}
