.chart::-webkit-scrollbar {
  display: none;
}

.dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: auto;
  margin-left: 90px;
  margin-right: 20px;
  margin-top: 30px !important;
}
.contents {
  margin-top: 20px !important;
}
.d-mixed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dm-cont {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 0.75;
}
.dm-cont > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}
.dm-cont > div,
.dc-cont > div {
  margin: 10px;
  min-width: 100px;
  background: white;
  box-shadow: 0 3px 20px rgba(250, 172, 172, 0.212);
  border-radius: 10px;
  font-size: small;
  font-weight: bold;
}
.dm-cont > div > div:last-of-type {
  padding: 20px 0;
  padding-left: 0;
}
.dmc-img {
  display: flex;
  align-items: center;
}
.dmc-img > span {
  width: 15px;
  height: 1px;
  background-color: #fc3737;
}
.dm-cont div > img:first-of-type {
  width: 22px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fdefef;
  margin-right: 0;
}
.dm-cont a {
  height: 100%;
  display: grid;
  place-content: center;
  border-left: 1px solid rgb(254, 228, 228);
}
.dm-cont > div > a > img {
  width: 25px;
  padding: 10px;
}
.d-mixed p {
  color: rgb(189, 189, 189);
  font-size: small;
}
.gt {
  font-size: 40px;
  background: -webkit-linear-gradient(
    120deg,
    yellow,
    rgb(255, 153, 29),
    rgb(255, 0, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.d-sync {
  padding: 20px;
  background-color: #fff7f7;
  flex-direction: column;
  box-shadow: inset 0 0 20px #ffd2d26f;
  flex: 0.25;
  position: relative;
}
.d-sync > p {
  color: black;
}
.d-sync h5 {
  color: grey;
  margin-top: 5px;
}
.d-sync > h5 > span {
  color: #ff8888;
}
.d-sync div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 50px);
  gap: 10px;
}
.d-sync div p {
  color: red;
}
.d-sync img {
  cursor: pointer;
  background-color: #ff2222;
  box-shadow: 0 3px 20px rgba(255, 28, 28, 0.212);
  border-radius: 50%;
  padding: 5px;
  margin-right: 7px;
  width: 30px;
  margin-top: 20px;
}
.d-title {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}
.d-title > span {
  width: 50px;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 146, 146, 0.644));
}
.d-title img {
  cursor: pointer;
  background-color: #fdefef;
  border-radius: 50%;
  padding: 5px;
  margin-right: 7px;
  width: 20px;
}
.d-cats,
.d-mixed {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: small;
  font-weight: bold;
  padding-top: 20px;
  width: 100%;
}
.ad-head {
  display: flex;
  align-items: center;
}
.ad-head img {
  width: 20px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(255, 170, 170, 0.317);
  background: linear-gradient(120deg, red, #fc3737);
  margin: 10px;
}
.ad-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ad-body button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border: none;
  background: linear-gradient(120deg, red, #ff8888);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 5px 30px rgba(255, 27, 27, 0.395);
  cursor: pointer;
  font-size: smaller;
}
.chart {
  box-shadow: 0 3px 20px rgba(250, 172, 172, 0.212);
  border-radius: 10px;
  margin: 10px;
  background-color: white;
  width: 300px;
  height: 150px;
  position: relative;
  overflow-x: scroll;
}
.dc-cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: calc(100% - 350px);
}
.dc-cont > div {
  display: flex;
  align-items: center;
  padding: 10px !important;
  width: max-content;
  position: relative;
  padding-right: 70px !important;
}
.d-cats img {
  background-color: #fdefef;
  border-radius: 50%;
  padding: 5px;
  margin-right: 7px;
  width: 20px;
}
.dc-count {
  position: absolute;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dc-count span {
  padding: 5px 8px;
  border-radius: 2px;
  background-color: #fc3737;
  font-size: small;
  color: white;
  box-shadow: 0 2px 10px rgba(250, 172, 172, 0.212);
}
.dc-count h6 {
  transform: rotate(-90deg);
}
.sb-cont {
  display: flex;
  flex-direction: column;
}
.sb-cont span {
  display: flex;
  align-items: center;
  color: #ffb6b6;
  font-size: smaller;
}
.sb-cont h6 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: #ffb6b6;
}

@media (max-width: 700px) {
  .dashboard {
    width: 90vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .d-mixed,
  .dm-cont {
    flex: 1;
  }
  .d-sync {
    flex: 0.8;
    margin: 20px auto;
  }
  .dc-cont {
    width: 100vw;
  }
  .contents {
    width: 100vw;
    margin: auto;
  }
  .chart {
    width: 90vw;
  }
  .users {
    width: 80vw;
    height: max-content;
    margin: 20px auto;
  }
}
